body {
  background-color: #0d1117;
  color: darkgray;
  margin: 1rem;
}
a {
  color: dodgerblue;
}
input {
  background-color: black;
  color: darkgray;
  border: 1px solid #484848;
  width: 100%;
}
table {
  background: #181a1b;
  border-top: 2px solid maroon;
  border-left: 2px solid maroon;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  th,
  td {
    border-bottom: 2px solid maroon;
    border-right: 2px solid maroon;
    text-align: center;
  }
}
footer {
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  margin: 0;
}
